<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="static/styles/6-filters.css">
    <link type="text/css" rel="stylesheet" href="static/styles/8-places.css">
    <link rel="icon" href="images/icon.png" />
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp</h4>
          <div class="popover">
              <UL>
                {% for item in states %}
                  <H2>{{ item[0] }}</H2>
                    <UL>
                      {% for city in cities %}{% if item[1] == city[1][1] %}
                          <LI>{{ city[0] }}</LI>
                         {% endif %}{% endfor %}
                    </UL>
                {% endfor %}
              </UL>
          </div>
        </div>
        <div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp</h4>
          <div class="popover">
            <UL>
              {% for item in amenities %}
                <UL>
                  <LI>
                    {{ item[0] }}
                  </LI>
                </UL>
              {% endfor %}
            </UL>
          </div>
        </div>
        <button type="button">Search</button>
      </section>
    <section class="places">
      <h1>Places</h1>
      {% for item in places %}
      <article>
        <div class="title_box">
          <h2>{{ item[0] }}</h2>
          <div class="price_by_night">${{ item[1].price_by_night }}</div>
        </div>
        <div class="information">
          <div class="max_guest">{{ item[1].max_guest }} Guests</div>
          <div class="number_rooms">{{ item[1].number_rooms }} Room</div>
          <div class="number_bathrooms">{{ item[1].number_bathrooms }} Bathroom</div>
        </div>
        <div class="user">
          <b>Owner:</b> {% for user in users %}{% if item[1].user_id == user[0] %}{{ user[1] }}{% endif %}{% endfor %}
        </div>
        <div class="description">
          {{ item[1].description|safe }}
        </div>
      </article>
      {% endfor %}
    </section>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>
