<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
      <H1>States</H1>
        <UL>
          {% for item in seq %}
            <LI>{{ item[1] }}: <B>{{ item[0] }}</B>
              <UL>
                {% for city in cities %}{% if item[1] == city[1][1] %}
                    <LI>{{ city[1][0] }}: <B>{{ city[0] }}</B></LI>
                   {% endif %}{% endfor %}
              </UL>
            </LI>
          {% endfor %}
        </UL>
    </BODY>
</HTML>
